.main {
  display: flex;
  gap: 38%;
  .user-link {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      width: 150px;
      height: 35px;
      cursor: pointer;
      background-color: #000000;
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
      border: none;
      border-radius: 5px;
    }
  }
}
